<template>
  <div id="onethird">
    <h1>ALERTS</h1>
    <button @click="handleClick">Trigger Alert</button>
  </div>
</template>
<script>
export default {
  methods: {
    handleClick: function() {
      alert("Hello!");
    }
  }
};
</script>

<style>
#onethird {
  width: 33.33%;
  display: inline-block;
  height: 80px;
}
</style>