<template>
  <div id="onethird">
    <h1>TEXT INPUT</h1>
    <input v-model="message" placeholder="enter text!">
    <p>Message is: {{ message }}</p>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      message: ""
    };
  }
};
</script>


<style>
#onethird {
  width: 33.33%;
  height: 80px;
}
</style>