<template>
  <div id="onethird">
    <h1>REACTIVITY</h1>
    <div v-bind:class="{active: isActive}">We're in development-- Second SFC. Active: {{isActive}}</div>
    <button v-on:click="isActive = !isActive">{{text}}</button>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      greeting: "Hello",
      isActive: true,
      text: "Change Active Status"
    };
  }
};
</script>

<style>
.active {
  color: blue;
}
#onethird {
  width: 33.33%;
  display: inline-block;
  height: 80px;
}
</style>