<template>
  <div class="row column">
    <div class="large-2 columns">
      <label
        class="middle"
        for="site_report"
      >
        {{ name }}
      </label>
    </div>

    <div class="large-5 columns end">
      <div
        id="input-container"
        class="simple-select-container"
        :class="{error: error}"
      >
        <table
          id="filters-simple-select-table"
          class="simple-select-table"
        >
          <thead>
            <tr>
              <th v-if="selectEnabled" class="check-box">
                <p>
                  <input
                    :id="'select-all-' + name.toLowerCase()"
                    v-model="selectAll"
                    type="checkbox"
                    @change="changeSelectAll()"
                  >
                  <label :for="'select-all-' + name.toLowerCase()" />
                </p>
              </th>
              <th v-if="selectEnabled" class ="select-all-text">
                Select All 
              </th>
              <th v-if="!selectEnabled" class = "text-header">
                {{ name }}
              </th>
              </tr>
          </thead>

          <tbody>
            <tr
              v-for="item in field"
              :key="item.id"
            >
              <td class = "shrink">
                <p>
                  <input
                    :id="'select-' + name.toLowerCase() + '-' + item[value]"
                    v-model="checked"
                    type="checkbox"
                    :value="item[value]"
                    @change="sendUpdate(item[value])"
                  >
                  <label :for="'select-' + name.toLowerCase() + '-' + item[value]" />
                </p>
              </td>
              <td class = "normal">
                <label
                  :for="'select-' + name.toLowerCase() + '-' + item[value]"
                  class="hovered label-two"
                >
                  {{ item.name }}
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <label
        v-if="error"
        class="error"
      >
        {{ errorMsg }}
      </label>
    </div>
  </div>
</template>


<script>
module.exports = {
  data() {
    return {
      selectAll: null,
      checked: [],
      beforeValues: {},
      errorMsg: 'At least one item must be selected in this field',
    };
  },
  props: ['error',
    'field',
    'name',
    'access',
    'value',
    'selectEnabled',
  ],
  mounted() {
    const enabledField = _.filter(this.field, ['is_enabled', true]);
    this.checked = _.map(enabledField, this.value);
    if (this.checked.length == this.field.length) {
      this.selectAll = true;
    }
    this.$emit('AllSelected', this.checked, this.access);
  },
  watch: {
    checked(newValue, oldValue) {
      if (this.selectAll && oldValue.length == this.field.length && this.field.length > 0) {
        this.selectAll = false;
      }
    },
    error() {
      if (this.error) {
        Vue.nextTick(() => {
          $('html, body').animate(
            {
              scrollTop: $('.error').offset().top - 300,
            },
            50,
          );
        });
      }
    },

    validate() {
      if (this.validate) {
        runValidation();
      }
    },
  },
  computed: {
    nulled() {
      if (this.selectAll) {
        this.$emit('nulled', null);
      }
      this.$emit('nulled', this.checked.sort().join(','), this.access);
    },
  },
  methods: {
    runValidation() {
      let isValid = true;
      if (this.checked.length === 0 && this.field.length != 0) {
        this.error = true;
        isValid = false;
      } else {
        this.error.filters = false;
      }
      this.$emit('validationCheck', isValid);
    },
    changeSelectAll() {
      if (this.checked.length !== this.field.length) {
        if (this.selectAll) {
          this.checked = _.map(this.field, 'id');
        }
      } else {
        this.checked = [];
      }
      this.$emit('AllSelected', this.checked, this.access);
    },
    createStartValues() {
      const that = this;
      _.forEach(this.validKeys, (key) => {
        that.beforeValues[key] = that._data[key];
      });
    },
    sendUpdate(val) {
      this.$emit('addElement', val, this.access);
    },
  },

};

</script>

<style>

table tbody{
  display: block;
  overflow: auto;
  height: 300px;
  position: relative;
}
.shrink{
  width: 20px;
}

.text-header{
  width: 100%;
  text-align: center;
}

.normal{  
  width: 100%;
  text-align: left;
}
 
.select-all-text{
  float: left;
}

.check-box{
  padding-top: 10px;
  float: left;
}
</style>
