<template>
  <div>
    <div class="large-2 columns">
      <label
        class="middle"
        for="site_report_report_name"
      >
        New Report Name
      </label>
    </div>

    <div class="large-3 columns end">
      <input
        v-model="reportName"
        type="text"
        size="30"
        :class="{ error: error.reportName || error.reportNameUsed }"
        @blur="checkReportName"
        @click="clearErrors"
      >
      <label
        v-if="error.reportName"
        class="error"
      >
        This field is required"
      </label>
      <label
        v-if="error.reportNameUsed"
        class="error"
      >
        That name is already used.
      </label>
    </div>
  </div>
</template>

<script>
module.exports = {
  data() {
    return {
      reportName: null,
      error: {
        reportName: null,
        reportNameUsed: null,
      },
    };
  },
  mounted() {
    this.error.reportName = this.reportNameError;
    this.error.reportNameUsed = this.reportNameUsedError;
  },
  props: ['reportNameError', 'reportNameUsedError'],
  watch: {
    reportName(newValue, oldValue) {
      if (newValue !== oldValue) {
        this.$emit('nameUpdate', newValue);
      }
    },
    reportNameError() {
      this.error.reportName = this.reportNameError;
    },
    reportNameUsedError() {
      this.error.reportNameUsed = this.reportNameUsedError;
    },

    validate() {
      if (this.validate) {
        runValidation();
      }
    },
  },

  methods: {
    checkReportName() {
      this.$emit('checkName');
    },
    runValidation(){
        
    },
    clearErrors() {
      this.error.reportName = false;
      this.reportNameUsed = false;
    },
  },
};

</script>
