<template>
  <div class="row column">
    <div class="large-2 columns">
      <label
        class="middle"
        for="site_report_date_range"
      >
        {{ title }}
      </label>
    </div>
    <div class="large-3 columns end">
      <select
        v-model="selected"
        @change="emitSelection(selected)"
      >
        <option
          v-for="item in items"
          :key="item.id"
          :value="item[value]"
        >
          {{ item[field] }}
        </option>
      </select>
    </div>
  </div>
</template>

<script>
module.exports = {
  data() {
    return {
      selected: 'Last 7 Days',
    };
  },
  props: [
    'selectedItem',
    'items',
    'field',
    'title',
    'value',
    'access',
  ],
  methods: {
    emitSelection(val) {
      this.$emit('Select', val, this.access);
    },
  },
};

</script>
