
<template>
  <div id="container">
    <div
      id="form-modal"
      class="reveal row"
      data-reveal
    >
      <div class="modal-container">
        <div class="large-12 columns text-center">
          <button
            class="close-button"
            data-close
            aria-label="Close modal"
            type="button"
          >
            <span aria-hidden="true">
              &times;
            </span>
          </button>
        </div>
      </div>
      <div class="row column grey-bottom-border">
        <div class="large-12 columns text-center">
          <h4 class="sure-copy">
            Are you sure?
          </h4>
          <br>
        </div>
      </div>
      <div class="row column grey-bottom-border">
        <div class="large-12 columns text-center">
          <br><br>
          <strong>Switching to a saved report will cause you to lose your<br>new report if not saved.</strong>
          <br><br><br>
        </div>
      </div>
      <div class="row column">
        <div class="large-6 columns text-center">
          <div class="button cancel-button btn-headroom">
            CANCEL
          </div>
        </div>
        <div class="large-6 columns text-center">
          <div
            class="button save-button btn-headroom"
            @click="closeChangeModal"
          >
            CONTINUE
          </div>
        </div>
      </div>
    </div>

    <div id="common-modals-two">
      <div
        id="form-modal-two"
        class="reveal row"
        data-reveal
      >
        <div id="modal-app-two">
          <div class="modal-container">
            <div class="row column">
              <div class="large-12 columns text-center">
                <button
                  class="close-button"
                  data-close
                  aria-label="Close modal"
                  type="button"
                >
                  <span aria-hidden="true">
                    &times;
                  </span>
                </button>
              </div>
            </div>
            <div class="row column grey-bottom-border">
              <div class="large-12 columns text-center">
                <h4 class="sure-copy">
                  Send Your Custom Report for
                </h4>
                <br>
              </div>
            </div>
            <div class="row column grey-bottom-border">
              <div class="large-12 columns">
                <br><br>
                <strong>Email custom report to:</strong>
                <input
                  v-model="customerEmail"
                  type="text"
                >
                <label
                  v-if="error.email"
                  class="error"
                >
                  invalid email
                </label>
                <br>
              </div>
            </div>
            <div class="row column">
              <div class="large-6 columns text-center">
                <div class="button cancel-button btn-headroom">
                  CANCEL
                </div>
              </div>
              <div class="large-6 columns text-center">
                <div
                  ref="saveModalButton"
                  class="button save-button btn-headroom"
                  @click="sendEmail"
                >
                  SEND
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      id="create_report_header"
      class="row column"
    >
      <h1>Edit Report</h1>
    </div>
    <div class="row column">
      <div class="large-9 columns">
&nbsp;
      </div>
    </div>
  <div v-if="id">
    <div class="row column">
      <div class="large-2 columns">
        <label
          class="middle"
          for="site_report_id"
        >
          Report ID
        </label>
      </div>
      <div class="large-5 columns end">
        <span class="middle">
          {{ id }}
        </span>
      </div>
    </div>
      <div class="large-2 columns">
&nbsp;
      </div>
    </div>

    <div class="row column">
      <input-field data-testid = "reportName"
        :report-name-error="error.reportName"
        :report-name-used-error="error.reportNameUsed"
        @nameUpdate="updateName"
        @checkName="checkReportName"
      />
      <div class="large-1 columns">
        <label
          class="middle"
          for="site_report_report_name"
        >
          OR
        </label>
      </div>
      <item-selection-box data-testid = "siteReports"
        :items="siteReports"
        :selected-item="selectedSiteReport"
        field="report_name"
        title="Select a Saved Report"
        value="id"
        access="selectedSiteReport"
        @Select="selected"
      />
    </div>


    <item-selection-box
      :items="dateRanges"
      :selected-item="selectedDateRange"
      field="name"
      title="Date Range"
      value="key"
      access="selectedDateRange"
      @Select="selected"
    />

    <template v-if="selectedPermissionLevel">
      <div class="row column">
        <div class="large-2 columns admin-control">
          <label
            class="middle"
            for="site_report_permission_level_id"
          >
            Permission Level
          </label>
        </div>

        <div class="large-5 columns end">
          <select v-model="selectedPermissionLevel">
            <option
              v-for="permissionLevel in permissionLevels"
              :key="permissionLevel.id"
              :value="permissionLevel.permission_level_id"
            >
              {{ permissionLevel.name }}
            </option>
          </select>
        </div>
      </div>
    </template>

    <template v-if="loaded">
      <field-select-box
        :field="filters"
        name="Filters"
        access="checkedFilters"
        value="key"
        @addElement="setNewElement"
        @AllSelected="updateChecked"
      />
      
      <br> <br>

      <field-select-box data-testid="metrics"
        :field="metrics"
        name="Metrics"
        access="checkedMetrics"
        value="key"
        @addElement="setNewElement"
        @AllSelected="updateChecked"
      />


      <field-select-box
        :field="adSources"
        name="Ad Sources"
        access="checkedAdSources"
        value="id"
        select-enabled="true"
        @addElement="setNewElement"
        @AllSelected="updateChecked"
      />

      <field-select-box
        :field="placements"
        name="Placements"
        access="checkedPlacements"
        value="id"
        select-enabled="true"
        @addElement="setNewElement"
        @AllSelected="updateChecked"
      />
    </template>


    <div class="row column clearfix">
      <a
        href="/site_reports"
        class="button cancel-button"
      >
        Cancel
      </a>
      <div class="float-right">
        <input
          class="button delete-yellow-button"
          name="delete"
          type="submit"
          value="Delete"
          @click="deleteAdSource"
        >
        <input
          ref="saveButton"
          class="button save-button"
          name="save"
          type="submit"
          value="Save"
          @click="saveSiteReport"
        >
        <input
          ref="saveAndDownloadButton"
          class="button save-button save-and-download"
          data-id="101"
          name="save-and-downlaod"
          type="submit"
          value="Save and Download"
          @click="saveAndDownloadSiteReport"
        >
      </div>
    </div>
  </div>
</template>
<script>

import FieldSelectBox from './FieldSelectBox.vue';
import ItemSelectionBox from './ItemSelectionBox.vue';
import InputField from './InputField.vue';

export default {
  components: {
    FieldSelectBox,
    ItemSelectionBox,
    InputField,
  },
  data() {
    return {
      isRunning: false,
      loaded: false,
      placements: null,
      metrics: null,
      id: null,
      reportName: null,
      filters: null,
      checkedFilters: [],
      checkedMetrics: [],
      checkedAdSources: [],
      checkedPlacements: [],
      eventType: null,
      selectedEventType: null,
      selectedPermissionLevel: null,
      selectedSiteReport: null,
      selectedDateRange: null,
      adSources: null,
      siteReports: null,
      dateRanges: null,
      permissionLevels: null,
      eventTypes: null,
      beforeValues: {},
      currentValues: {},
      validKeys: [
        'reportName',
        'selectedDateRange',
        'selectedPermissionLevel',
        'selectedEventType',
        'checkedFilters',
        'checkedMetrics',
        'checkedAdSources',
        'checkedPlacements',
      ],
      isDirty: false,
      showEmailFormModal: false,
      customerEmail: null,
      sendEmailFlag: false,
      isNew: true,
      error: {
        reportName: false,
        filters: false,
        metrics: false,
        adSources: false,
        placements: false,
        email: false,
        reportNameUsed: false,
      },
    };
  },
  watch: {
    selectedSiteReport(newValue, oldValue) {
      if (newValue !== null) {
        if (oldValue !== null || urlId === 'new') {
          if (this.checkIsDirty()) {
            $('#form-modal').foundation('open');
          } else {
            location.href = `/site_reports/${newValue}/edit`;
          }
        }
      }
    },
    checkedFilters(newValue, oldValue) {
      const obj = {
        targetValue: 'adSource',
        id: 'select-metrics-auctions',
        newValue,
        oldValue,
      };
      this.toggleSelects(obj);
      /*
        if(newValue.includes("adSource")){
          var auctionElement = document.getElementById("select-metric-auctions");
          if(auctionElement){
            auctionElement.disabled = true;
            var auctionTrElement = auctionElement.parentElement.parentElement.parentElement;
            auctionTrElement.classList.add('opacity-20');
            var el = document.querySelector("label[for='select-metric-auctions']");
            el.classList.add('default-cursor');
          }
        }else{
          var auctionElement = document.getElementById("select-metric-auctions");
          if(auctionElement){
            var auctionTrElement = auctionElement.parentElement.parentElement.parentElement;
            if(auctionTrElement.classList.contains('opacity-20')){
              auctionTrElement.classList.remove('opacity-20');
              auctionElement.disabled = false;
              var el = document.querySelector("label[for='select-metric-auctions']");
              el.classList.remove('default-cursor');
            }
          }
        }
        */
    },
    checkedMetrics(newValue, oldValue) {
      const obj = {
        targetValue: 'auctions',
        id: 'select-filters-adSource',
        newValue,
        oldValue,
      };
      this.toggleSelects(obj);
    },
  },
  mounted() {
    const that = this;
    axios
      .get(`/api/v1/site_reports/${urlId}`)
      .then((response) => {
        if (response.data.id) {
          that.id = response.data.id;
        } else {
          that.id = '';
        }
        if (!siteReportId) {
          that.isNew = true;
        } else {
          that.isNew = false;
        }
        that.placements = (response.data.placements);
        that.adSources = response.data.ad_sources;
        that.metrics = response.data.ad_metrics;
        that.filters = response.data.ad_filters;
        that.siteReports = response.data.site_reports;
        that.dateRanges = response.data.date_ranges;
        that.selectedDateRange = _.filter(that.dateRanges, [
          'is_enabled',
          true,
        ])[0].key;
        const selectedSR = _.filter(that.siteReports, ['is_current', true])[0];
        if (selectedSR) {
          that.selectedSiteReport = selectedSR.id;
        }
        console.log("ABOUT TO CHECK PERMISSIONS");
        console.log(response.data.permission_levels);

        if(response.data.permission_levels.length > 0){
            that.permissionLevels = response.data.permission_levels;
            that.selectedPermissionLevel = _.filter(that.permissionLevels, ['is_enabled', true])[0].permission_level_id;
          }
        that.loaded = true;
        that.createStartValues();
        $('#container').foundation();
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    createStartValues() {
      const that = this;
      _.forEach(this.validKeys, (key) => {
        that.beforeValues[key] = that._data[key];
      });
    },
    selected(val, access) {
      this[access] = val;
    },
    updateName(val) {
      this.reportName = val;
    },
    nulled(val, access) {
      this[access] = val;
    },
    setNewElement(val, name) {
      if (this[name].includes(val)) {
        this[name].pop(val);
      } else {
        this[name].push(val);
      }
    },
    updateChecked(val, access) {
      this[access] = val;
    },
    clearErrors() {
      this.error.reportName = false;
      this.error.reportNameUsed = false;
    },
    checkReportName() {
      const that = this;
      let checkName = false;
      if (!this.isNew) {
        if (this.reportName !== this.beforeValues.reportName) {
          checkName = true;
        }
      } else {
        checkName = true;
      }

      if (checkName) {
        axios({
          method: 'get',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('[name=csrf-token]').content,
          },
          url: `/api/v1/site_reports/check_name/?report_name=${this.reportName}`,
        })
          .then((response) => {
            if (response.data.is_used == true) {
              that.error.reportNameUsed = true;
            }
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
    sendEmail() {
      this.error.email = false;
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      const ok = re.exec(this.customerEmail);
      if (ok) {
        this.sendEmailFlag = true;
        this.saveSiteReport();
        $('#form-modal').foundation('close');
      } else {
        this.error.email = true;
      }
    },
    closeChangeModal() {
      $('#form-modal').foundation('close');
      window.location = `/site_reports/${this.selectedSiteReport}/edit`;
    },
    onOff(value) {
      if (value) {
        return 'on';
      }
      return 'off';
    },
    createCurrentValues() {
      const that = this;
      _.forEach(this.validKeys, (key) => {
        that.currentValues[key] = that._data[key];
      });
    },
    checkIsDirty() {
      const isArray = [
        'checkedFilters',
        'checkedMetrics',
        'checkedAdSources',
        'checkedPlacements',
      ];
      const dirtyKeys = [];
      this.createCurrentValues();
      const that = this;
      _.forEach(this.validKeys, (key) => {
        if (isArray.includes(key)) {
          const resultOne = _.difference(
            that.beforeValues[key],
            that.currentValues[key],
          );
          const resultTwo = _.difference(
            that.currentValues[key],
            that.beforeValues[key],
          );
          if (resultOne.length > 0 || resultTwo.length > 0) {
            that.isDirty = true;
            dirtyKeys.push(key);
          }
        } else if (that.beforeValues[key] != that.currentValues[key]) {
          that.isDirty = true;
          dirtyKeys.push(key);
        }
      });
      return this.isDirty;
    },
    deleteAdSource() {
      if (this.id) {
        axios({
          method: 'delete',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('[name=csrf-token]').content,
          },
          url: `/api/v1/site_reports/${this.id}`,
        })
          .then((response) => {
            window.location = '/site_reports/';
          })
          .catch((error) => {
            alert('there was a problem deleting your custom report');
          });
      }
    },
    validate() {
      let isValid = true;
      if (this.checkedFilters.length === 0) {
        this.error.filters = true;
        isValid = false;
      } else {
        this.error.filters = false;
      }

      if (this.checkedMetrics.length === 0) {
        this.error.metrics = true;
        isValid = false;
      } else {
        this.error.metrics = false;
      }

      if (this.reportName == null || this.reportName.length === 0) {
        this.error.reportName = true;
        isValid = false;
      } else {
        this.error.reportName = false;
      }

      if (this.error.reportNameUsed === true) {
        isValid = false;
      }

      if (this.checkedAdSources.length === 0 && !this.selectAllAdSources) {
        isValid = false;
        this.error.adSources = true;
      } else {
        this.error.adSources = false;
      }

      if (this.checkedPlacements.length === 0 && !this.selectAllPlacements) {
        isValid = false;
        this.error.placements = true;
      } else {
        this.error.placements = false;
      }
      return isValid;
    },
    buildSiteReportParams() {
      const params = {
        authenticity_token: document.querySelector('[name=csrf-token]').content,
        send_email: this.sendEmailFlag,
        site_report_request_email: this.customerEmail,
        site_report: {
          report_name: this.reportName,
          metrics: this.checkedMetrics,
          filters: this.checkedFilters,
          select_all_ad_sources: 'on',
          select_all_placements: 'off',
          ad_sources: this.checkedAdSources,
          placements: this.checkedPlacements,
          date_range: this.selectedDateRange,
        },
      };
      if (this.selectedPermissionLevel != null) {
        params.site_report.permission_level_id = this.selectedPermissionLevel;
      }
      return params;
    },
    saveSiteReport() {
      let method = 'post';
      let id = '';
      const that = this;
      const params = this.buildSiteReportParams();
      if (this.validate() && this.isRunning === false) {
        const elSave = this.$refs.saveButton;
        const elSaveAndDownload = this.$refs.saveAndDownloadButton;
        elSave.disabled = true;
        elSaveAndDownload.disabled = true;
        if (siteReportId) {
          method = 'put';
          id = siteReportId;
        }
        this.isRunning = true;

        axios({
          method,
          url: `/api/v1/site_reports/${id}`,
          data: params,
        })
          .then((response) => {
            this.isRunning = false;
            const siteReportId = response.data.id;
            if (
              siteReportId !== 'undefined'
              && siteReportId !== null
              && siteReportId !== 'null'
            ) {
              window.location = `/site_reports/?site_report_id=${siteReportId}`;
            } else {
              alert('there was a problem submitting your site report');
              elSave.disabled = true;
              elSaveModal.disabled = true;
              elSaveAndDownload.disabled = true;
            }
          })
          .catch((error) => {
            this.isRunning = false;
            alert('there was a problem loading an external resource');
            elSave.disabled = true;
            elSaveModal.disabled = true;
            elSaveAndDownload.disabled = true;
          });
      }
    },
    saveAndDownloadSiteReport() {
      if (this.validate()) {
        $('#form-modal-two').foundation('open');
      }
    },
    toggleSelects(obj) {
      const el = document.getElementById(obj.id);
      if (el) {
        if (obj.newValue.includes(obj.targetValue)) {
          el.disabled = true;
          const elTrElement = el.parentElement.parentElement.parentElement;
          elTrElement.classList.add('opacity-20');
          const elLabel = document.querySelector(`label[for='${obj.id}']`);
          elLabel.classList.add('default-cursor');
          const elLabelHovered = document.querySelector(
            `label[for='${obj.id}'].label-two`,
          );
          if (elLabelHovered) {
            elLabelHovered.classList.remove('hovered');
          }
        } else {
          const elTrElement = el.parentElement.parentElement.parentElement;
          if (elTrElement.classList.contains('opacity-20')) {
            elTrElement.classList.remove('opacity-20');
            el.disabled = false;
            const elLabel = document.querySelector(`label[for='${obj.id}']`);
            elLabel.classList.remove('default-cursor');
            const elLabelHovered = document.querySelector(
              `label[for='${obj.id}'].label-two`,
            );
            if (elLabelHovered) {
              elLabelHovered.classList.add('hovered');
            }
          }
        }
      }
    },
  },
};
</script>

<style>
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  background: url(/assets/icons/checkbox-sprite.png) -15px 0 no-repeat;
  height: 15px;
  width: 15px;
  display: inline-block;
  float: left;
  padding: 0 0 0 0px;
}

input[type="checkbox"]:checked + label {
  background: url(/assets/icons/checkbox-sprite.png) -15px 0 no-repeat;
  height: 15px;
  width: 15px;
  display: inline-block;
  float: left;
  padding: 0 0 0 0px;
}

.opacity-20 {
  opacity: 0.2;
}

.default-cursor {
  cursor: default !important;
}

.hovered:hover {
  cursor: pointer;
}
</style>
